@model IEnumerable<Movie_Rental_System.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>

<div>

    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary btn-large" })


</div>
<br />

@if (!Model.Any())
{
    <text>We don't have any customers yet </text>

}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Customer

                </th>
                <th>
                    Membership Type
                </th>
            </tr>
        </thead>

        @foreach (var cus in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(cus.Name, "Edit", "Customers", new { @Id = cus.Id }, null)
                </td>
                <td>
                    @cus.MembershipType.Name
                </td>
            </tr>
        }

    </table>
}
