
@model IEnumerable<Movie_Rental_System.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <text>We don't have any Movies yet </text>

}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Movie

                </th>
                <th>
                    Genre
                </th>
            </tr>
        </thead>

        @foreach (var mov in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(mov.Name, "MovieDetails", "Movies", new { @Id = mov.Id }, null)
                </td>
                <td>
                    @mov.Genre.Name
                </td>
            </tr>
        }

    </table>
}

