@model Movie_Rental_System.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@if(Model.Customers.Count==0)
{
    <text> This Movie hasn't been alloted to anyone</text>
}

else
{

<ul>

    @foreach (var customer in Model.Customers)
    {

        <li>
            @customer.Name
        </li>
    }


</ul>
}

