@model Movie_Rental_System.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>


@if (Model.Movies.Count == 0)
{
    <text> There is no movie in database as of now</text>
}

else
{
    <table class="table">

        <h2>Movie</h2>

        @foreach (var mov in Model.Movies)
        {
            <tr>
                <td>
                    @mov.Name
                </td>
            </tr>
        }


    </table>
}
